body{
    background-color: blue;


}
.contenedor{

border-radius: 10px;
width: 400px;
height: 550px;
margin:0 auto;
margin-top: 3%;
background-color: yellow;
padding: 10px;
text-align: center;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.titulo {

font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
margin: -329px 0px 0px 0px;

}
.contenedorImg{

width: 300px;
height: 300px;
margin: 25px 0px 0px 0px;
}

h3 {

font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
margin: 300px 0px 0px 0px;

}



